* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #3c4d38;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-repeat: no-repeat;
  background-size: 300px;
  background-blend-mode: overlay;

  min-height: 100vh;
}
nav {
  background: #537351;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 1.25px 2.5px 5px 1.25px #262020;
  border-radius: 3%;
}

h2 {
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 0;
  color: #f6f1f1;
  font-size: 20px;
  
}
h3 {
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 0;
  font-size: 16px;
  color: #f6f1f1;
}

button {
  font-weight: lighter;
  text-transform: uppercase;
  background-color: #684d37;
  color: #f6f1f1;
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 3%;
  padding: 4%;
}

input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  width: 150px;
}
textarea {
  width: 100%;
  height: 80px;
  resize: none;
  padding: 5px;
}
footer {
  position: relative;
  padding: 5px;
  text-align: left;
  text-transform: capitalize;
  font-size: 70%;
  color: #f6f1f1;
  background-color: #384734;
  border-radius: 3%;
  box-shadow: 1.25px 2.5px 5px 1.25px #262020;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
  color: #262020;
}
input {
  accent-color: #262020;
}

/*-------------------------------------------------------------Classes--*/
.sign {
  text-align: center;
  color: #f6f1f1;
  font-size: 85%;
  font-style: italic;
}
.contact-section {
  background: no-repeat center;
  padding: 40px 0;
  margin: 40px;
}
.divRight {
  width: 50%;
  float: right;
}
.divLeft {
  width: 50%;
  float: left;
}
.contact-form {
  max-width: 858px;
  height: 400px;
  margin: auto;
  padding: 15px;
  overflow: hidden;
  box-shadow: 1.25px 2.5px 5px 1.25px #262020;
  border-radius: 3%;
}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #f6f1f1;
  padding: 20px 40px;
  outline: none;
  color: #262020;
  transition: 0.4s;
}
.contact-form-text:focus {
  box-shadow: 1.25px 2.5px 5px 1.25px #262020;
}

.toDev {
  text-align: left;
  padding-left: 12%;
  margin: 20px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #262020;
  color: #f6f1f1;
  padding: 12px 44px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 1.25px 2.5px 5px 1.25px #262020;
  border-radius: 3%;
}
.contact-form-btn:hover {
  background: #bfaa84;
  color: #262020;
}
.sub {
  text-align: center;
  font-size: 57%;
  color: #bfaa84;
}
.sub_end {
  font-size: 180%;
  color: #f6f1f1;
  text-transform: uppercase;
}
.sub_end_p {
  color: #f6f1f1;
  font-weight: lighter;
  padding: 15%;
}

.logo {
  color: #f6f1f1;
  font-weight: lighter;
  text-transform: uppercase;
}
.outer {
  padding: 1em;
  color: #262020;
}
.container {
  display: flex;
  justify-content: center;
  background-color: #537351;
  flex-wrap: wrap;
  margin: 10px;
  box-shadow: 2.5px 5px 10px 2.5px #262020;
  border-radius: 12px;
  min-height: 100vh;
}
.card {
  background-color: #262020;
  box-shadow: 1.25px 2.5px 5px 1.25px #262020;
  color: #bfaa84;
  padding: 10px;
  margin: 10px;
  width: 858px;
  font-weight: lighter;
  text-align: center;
  border-radius: 3%;
}

.sw {
  text-align: center;
  padding: 9%;
}

.footer {
  text-align: center;
  position: sticky;
  top: 100%;
}

/*-------------------------------------------------------------ID's--*/

#resetButton {
  text-align: center;
  font-size: 20px;
  margin: 15px;
}
#lapButton {
  text-align: center;
  font-size: 35px;
  padding: 10%;
  margin: 0 10 30 0px;
}

#emailBox {
  max-width: 250px;
  max-height: 26px;
}

#kgButton {
  text-align: center;
  font-size: 35px;
  padding: 10%;
  margin: 0 10 30 0px;
}

#startButton {
  text-align: center;
  font-size: 25px;
  padding: 10%;
  margin: 15px;
}
#stopButton {
  text-align: center;
  font-size: 25px;
  padding: 10%;
  margin: 15px;
}
#stopwatchDisplay {
  text-align: center;
  font-size: 80px;
  color: #f6f1f1;
  padding: 4%;
}
#lapCounterDisplay {
  text-align: center;
  font-size: 100px;
  color: #f6f1f1;
  margin: 30px;
}
#kgCounterDisplay {
  text-align: center;
  font-size: 100px;
  color: #f6f1f1;
  margin: 30px;
}
#lapTimesList {
  text-transform: capitalize;
  font-weight: lighter;
  text-align: center;
  font-size: 16px;
  color: #f6f1f1;
  margin: 10px;
  padding: 2%;
}
#noteList {
  text-transform: capitalize;
  font-weight: lighter;
  text-align: center;
  font-size: 16px;
  color: #f6f1f1;
  margin: 10px;
  padding: 2%;
}

#noteForm {
  color: #262020;
}
/*-------------------------------------------------------------Media queries 768px--*/
@media only screen and (min-width: 768px) {
  .toDev {
    float: left;
  }
  .logo {
    font-size: 1.4rem;
    margin: 15px 0 0.5rem;
  }
  .outer {
    padding: 4em;
  }
}
/*-------------------------------------------------------------Media queries 1100px--*/
@media only screen and (min-width: 1100px) {
  .outer {
    margin: 0 auto;
    width: 80%;
  }
  .toDev {
    float: left;
  }
  .container {
    width: auto;
  }
}

.logo {
  font-size: 2.2rem;
  margin: 15px 0 0.5rem;
  color: #f6f1f1;
  text-align: center;
  line-height: 100px;
  padding: 0 6px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #f6f1f1;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: none;
  color: #3c4d38;
  background: #f6f1f1;
  transition: 0.4s;
  box-shadow: 0.65px 1.25px 2.5px 0.65px #262020;
  border-radius: 3%;
}
.checkbtn {
  font-size: 30px;
  color: #f6f1f1;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/*-------------------------------------------------------------Media queries 952px--*/
@media (max-width: 952px) {
  .logo {
    font-weight: lighter;
    font-size: 1.6rem;
    padding: 0 6px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .toDev {
    float: left;
  }
}
/*-------------------------------------------------------------Media queries 858px--*/
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .toDev {
    float: left;
  }
  .logo {
    color: #f6f1f1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0 6px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3c4d38;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: #f6f1f1;
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #262020;
    background: #f6f1f1;
    transition: 0.4s;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
